<div class="navbar">
	<div class="navbar-inner">
		<div class="left"><a href="#" class="back link icon-only"><i class="icon icon-back icon-only"></i></a></div>
		<div class="center">Gincana Social Força em Ação</div>
	</div>
</div>
<div class="pages navbar-through toolbar-through">
	<div data-page="HelpDesk" class="page">
		<div class="page-content">
			<div style="background-image:url(assets/img/headerHelpDesk.png)" class="content-image"></div>
			<div class="content-block">
				Caso tenha alguma dúvida, entre em contato com a equipe responsável pela organização da Gincana, preenchendo o formulário abaixo
			</div>
			<form id="help-desk-form">
				<div class="list-block">
					<ul>
						<li>
							<div class="item-content">
								<div class="item-inner">
									<div class="item-title label">Email</div>
									<div class="item-input">
										<input type="email" id="input_title" placeholder="Digite seu email">
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-inner">
									<div class="item-input">
										Dúvida/Sugestão
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-inner">
									<div class="item-input">
										<textarea id="input_description" rows="5" style="height:auto;" placeholder="Digite sua dúvida ou sugestão e em breve retornaremos o contato :)"></textarea>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-inner">
									<div class="item-input">
										<input type="submit" class="button" value="Enviar formulário">
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</form>
		</div>
	</div>
</div>

