<div data-page="Login" class="page">
	<div class="navbar">
		<div class="navbar-inner">
			<div class="left"><a href="#" class="back link icon-only"><i class="icon icon-back icon-only"></i></a></div>
			<div class="center">Gincana Social Força em Ação</div>
		</div>
	</div>
	<div class="page-content">
		<div class="content-block-title text-center">
			Quero fazer login
		</div>
		<form id="login-form">
			<div class="list-block">
				<ul>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="item-title label">Email</div>
								<div class="item-input">
									<input type="email" id="input_email" placeholder="Digite seu email">
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="item-title label">Senha</div>
								<div class="item-input">
									<input type="password" id="input_password" placeholder="Digite sua senha">
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="item-input">
									<input type="submit" class="button" value="Login">
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</form>
		<div class="content-block-title text-center">
			Ou
		</div>
		<div class="content-block-title text-center">
			quero me cadastrar
		</div>
		<form id="register-form">
			<div class="list-block">
				<ul>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="item-title label">Email</div>
								<div class="item-input">
									<input type="email" id="input_register_email" placeholder="Digite seu email">
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="item-title label">Senha</div>
								<div class="item-input">
									<input type="password" id="input_register_password" placeholder="Digite sua senha">
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="item-input">
									<input type="submit" class="button" value="Cadastrar">
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</form>

	</div>
</div>

