<div class="navbar">
	<div class="navbar-inner">
		<div class="left"><a href="#" class="back link icon-only"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i></a></div>
		<div class="center">Aiozap</div>
	</div>
</div>
<div class="pages navbar-through toolbar-through">
	<div data-page="Login" class="page">
		<div class="page-content">

			<div class="content-block-title text-center">
				<i class="fa fa-sign-in" aria-hidden="true"></i> Login
			</div>
			<form id="login-form">
				<div class="list-block">
					<ul>
						<li>
							<div class="item-content">
								<div class="item-inner">
									<div class="item-title label">Email</div>
									<div class="item-input">
										<input type="email" id="input_email" placeholder="Digite seu email">
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-inner">
									<div class="item-title label">Senha</div>
									<div class="item-input">
										<input type="password" id="input_password" placeholder="Digite sua senha">
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-inner">
									<div class="item-input">
										<input type="submit" class="button" id="btn_login" value="Login">
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</form>
			<div class="content-block-title text-center">
			</div>
			<div class="content-block-title text-center">
				<i class="fa fa-sign-in" aria-hidden="true"></i> Quero me cadastrar
			</div>
			<form id="register-form">
				<div class="list-block">
					<ul>
						<li>
							<div class="item-content">
								<div class="item-inner">
									<div class="item-title label">Email</div>
									<div class="item-input">
										<input type="email" id="input_register_email" placeholder="Digite seu email">
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-inner">
									<div class="item-title label">Senha</div>
									<div class="item-input">
										<input type="password" id="input_register_password" placeholder="Digite sua senha">
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-inner">
									<div class="item-input">
										<input type="submit" class="button" id="btn_register" value="Cadastrar">
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</form>
			<!--<div class="content-block-title text-center">
			</div>
			<div class="content-block-title text-center">
				<i class="fa fa-unlock" aria-hidden="true"></i> Esqueci minha senha
			</div>
			<form id="password-reset-form">
				<div class="list-block">
					<ul>
						<li>
							<div class="item-content">
								<div class="item-inner">
									<div class="item-title label">Email</div>
									<div class="item-input">
										<input type="email" id="input_recover_email" placeholder="Digite seu email">
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-inner">
									<div class="item-input">
										<input type="submit" class="button" id="btn_password_reset" value="Redefinir minha senha">
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</form>-->

		</div>
	</div>
</div>

