/*
verde C0F722
azul 197CB5
verde Evernote - #008000
verde Whats - #43d854
verde criado - #19b523
*/

h1,h2,h3,h4,h5,h6{
	margin:0px;
}



.list-block input[type=time], .list-block input[type=number], .list-block input[type=search], .list-block input[type=text], .list-block input[type=password], .list-block input[type=email], .list-block input[type=tel], .list-block input[type=url], .list-block input[type=date], .list-block input[type=datetime-local], .list-block select, .list-block textarea{
	color:#ccc;
	color:#197CB5;
	color:#777;
}

.floating-button {
	position: absolute;
	right: 16px;
	bottom: 16px;
	width: 56px;
	height: 56px;
	border-radius: 50%;
	z-index: 1500;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	background-color: #43d854;
	color: #fff;
	overflow: hidden;
	-webkit-transition-duration: 300ms;
	transition-duration: 300ms;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
}


.content-block-title{
	color:#555;
}
.navbar:after{
	background:transparent;
}

.photo-browser .navbar, .photo-browser .toolbar, .views .view[data-page=photo-browser-slides] .navbar, .views .view[data-page=photo-browser-slides] .toolbar{
	background:#197CB5;
	color:#43d854;
	color:#FFF;
    box-shadow: inset 0px 0px 10px 0px #212E42;
}
.navbar .center,.navbar .left,.navbar .right{
	font-size:20px;
}

.navbar, .subnavbar, .toolbar{
	background:#197CB5;
	color:#43d854;
	color:#fff;
    box-shadow: inset 0px 0px 10px 0px #212E42;
}
.navbar a.icon-only, .subnavbar a.icon-only, .toolbar a.icon-only{
	color:#43d854;
	color:#fff;
}

.modal,.modal-inner,.modal-button{
	color:#43d854;
	background:#197CB5;
}

.actions-modal-button{
	color:#43d854;
	background:#197CB5;
}

.actions-modal-button:last-child{
	color:#c5c5c5;
	background:#197CB5;
}


.list-block .item-link{
	color:#43d854 !important;
	color:#197CB5 !important;
}

.list-block ul:before,.list-block ul:after{
	background:transparent;
}

.list-block ul{
	background:#197CB5;
	background:#3E577D;
	background:rgba(255,255,255,0.25);
	border-radius:5px;
	width:90%;
	margin:0 auto;
}

.list-block li{
	border-bottom: 1px solid #999;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}
.list-block li:last-child{
	border-bottom: 0px;
}


.page{
	background:#e0e0e0 !important;
	background:#222B38 !important;
	background:#ddd !important;
	color:#197CB5;
}

.content-block-title{
	color:#43d854;
	color:#197CB5;
}

.panel{
	background:#197CB5 !important;
	background:#DBDBDB !important;
	border:0px !important;
    box-shadow: inset 0px 0px 10px 0px #212E42;
}

.notifications .notification-item{
	background:#333 !important;
}
.button{
	border:0px;
	background:#43d854;
	color:#161E29;
	box-shadow:inset 0px 0px 10px #92A3BD;
}

.list-block .item-inner:after{
	background:transparent;
}

.content-block-inner, #TeamsDetailEditors,#ContactScreenAdmin,#ContactScreen{
	border-top:5px solid #999;
}

.statusbar-overlay {
    background:#000;
}

.content-block-title{
	padding:5px 0px;
}

.contact-name{
	font-size:18px;
}
.contact-email{
	color:#ccc;
	color:#777;
	font-size:12px;
}

.contact-phone{
	color:#ccc;
	font-size:12px;
}


#SidebarLoggedIn,#SidebarLoggedOut{
	display:none;
}

.list-block{
	margin:0px;
}

.loading{
	text-align:center;
	padding-top:20px;
	color:#197CB5;
}

.panel{
	background:#F7F7F8;
	border-left:1px solid #d0d0d0;
}

.jobsdetail-title{
	line-height:20px;
	font-weight:bold;
}

.jobsdetail-dates{
	line-height:20px;
	font-size:0.9em;
}


.ranking-img{
	margin:0 auto;
	overflow:hidden;
	width:32px;
	height:32px;
	border-radius:16px;
}

.ranking-img > img{
	width:49px;
	height:32px;
	margin-left:-9px;
}


.reportpic-img{
	margin:10px auto;
	overflow:hidden;
	width:200px;
	border-radius:10px;
}

.reportpic-img > img,.reportpic-img > a > img{
	width:100%;
}

.float-info{
	border-top:3px solid #43d854;
	text-align:left;
	width:90%;
	padding:10px 5%;
	position:absolute;
	bottom:0px;
	right:0px;
	color:#197CB5;
	background:rgba(255,255,255,0.9);
}

.profile-banner-img{
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center center;
	position:relative;
	margin:0 auto;
	overflow:hidden;
	width:100%;
	height:100vh;
	height:calc(100vh - 44px);
	box-shadow:0px 0px 5px #aaa;
}

.profile-banner-img > img{
    width: 100%;
	height:100%;
}


.profilepic-img{
	margin:10px auto;
	overflow:hidden;
	width:90%;
	max-height:350px;
	border-radius:5px;
	box-shadow:0px 0px 5px #aaa;
}

.profilepic-img > img{
    width: 100%;
	min-height:100%;
    /*position: relative;
    top: -50%;
    left: 50%;
    margin-left: -150px;
    margin-top: 175px;*/
}


.jobpic-img{
	border-radius:10px;
	margin:0px auto;
	margin-bottom:10px;
	overflow:hidden;
	width:80px;
	height:60px;
	box-shadow:0px 0px 3px #333;
}

.jobpic-img > img,.jobpic-img > a > img{
	width:80px;
	min-height:60px;
}

.contact-image{
	height:32px;
	width:32px;
	border-radius:16px;
	overflow:hidden;
}

.contact-image > img{
	width:32px;
	min-height:32px;
}

.content-image{
	width:100%;
	height:210px;
	background-position:center center;
	background-size:cover;
	background-repeat:no-repeat;
}

.no-margin{
	margin:0;
}

.profile-card{
	padding:10px;
	border-radius:3px;
}

.silver{
	color:#666;
}

.card-header{
	height:220px;
	background-position:center center;
	background-size:cover;
	background-repeat:no-repeat;
	text-shadow:0px 0px 2px #333;
}

#ProfilePicsScreen{
	margin:0;
	padding:0;
}

.profile-photos{
	margin:0 auto;
	text-align:center;
	width:100%;
	height:100px;
	overflow:hidden;
}

.profile-photos > img{
	width:100%;
	min-height:100%;
}

.card-profilepic{
	margin:0 auto;
	text-align:center;
	height:36px;
	width:36px;
	margin-top:2px;
	border-radius:3px;
	overflow:hidden;
}

.card-profilepic > img{
	width:36px;
	min-height:36px;
}

.card-name{
	overflow:hidden;
	text-overflow:ellipsis;
	display:inline-block;
	width:100%;
	font-size:1.1em;
	font-weight:bold;
	color:#43d854;
	color:#197CB5;
}
.card-date{
	font-size:0.9em;
	color:#777;
}
.card-like{
	font-size:1.1em;
	font-weight:bold;
	color:#333;
	color:#43d854;
	color:#197CB5;
}
.card-like-number{
	font-size:0.9em;
	color:#777;
}
.card-img{
	width:100%;
	height:200px;
	overflow:hidden;
}
.card-img > img{
	width:100%;
}
.card-content-inner{
	padding:10px 15px;
}

.text-center{
	text-align:center;
}

.see-more{
	display:none;
}

p{
	font-size:12px;
	margin-bottom:0px;
}

.fields{
	background:white;
	width:100%;
	padding:10px 0px;
	text-align:center;
	border:0px;
}

.fields-select{
	height:35px;
	background:white;
	width:100%;
	padding:10px 0px;
	text-align:center;
	border:0px;
}

.lime{
	color:#43d854;
}


