/*
*/
.list-block ul li:nth-child(1){background:#f8f8f8;}
.list-block ul li:nth-child(2){background:#f3f3f3;}
.list-block ul li:nth-child(3){background:#eeeeee;}
.list-block ul li:nth-child(4){background:#e8e8e8;}
.list-block ul li:nth-child(5){background:#e3e3e3;}
.list-block ul li:nth-child(6){background:#dddddd;}
.list-block ul li:nth-child(7){background:#d8d8d8;}
.list-block ul li:nth-child(8){background:#d3d3d3;}
.list-block ul li:nth-child(9){background:#cccccc;}
.list-block ul li:nth-child(10){background:#c8c8c8;}
.list-block ul li:nth-child(11){background:#c3c3c3;}
.list-block ul li:nth-child(12){background:#bbbbbb;}
.list-block ul li:nth-child(13){background:#b8b8b8;}
.list-block ul li:nth-child(14){background:#b3b3b3;}

.bolinha{
	padding-left:18px;
	background-image:url('../img/bola.png') !important;
	background-repeat:no-repeat !important;
	background-position:7px 12px !important;
	background-size:20px 20px !important;
}


.ranking{
	padding-left:18px;
	background-image:url('../img/ranking.png') !important;
	background-repeat:no-repeat !important;
	background-position:7px 12px !important;
	background-size:20px 20px !important;
}

.logo-icon:nth-child(1){
	padding-left:18px;
	background-image:url('../img/logo1.png') !important;
	background-repeat:no-repeat !important;
	background-position:7px 12px !important;
	background-size:20px 20px !important;
}

.logo-icon:nth-child(2){
	padding-left:18px;
	background-image:url('../img/logo2.png') !important;
	background-repeat:no-repeat !important;
	background-position:7px 12px !important;
	background-size:20px 20px !important;
}
.logo-icon:nth-child(3){
	padding-left:18px;
	background-image:url('../img/logo3.png') !important;
	background-repeat:no-repeat !important;
	background-position:7px 12px !important;
	background-size:20px 20px !important;
}
.logo-icon:nth-child(4){
	padding-left:18px;
	background-image:url('../img/logo4.png') !important;
	background-repeat:no-repeat !important;
	background-position:7px 12px !important;
	background-size:20px 20px !important;
}
.logo-icon:nth-child(5){
	padding-left:18px;
	background-image:url('../img/logo5.png') !important;
	background-repeat:no-repeat !important;
	background-position:7px 12px !important;
	background-size:20px 20px !important;
}



.content-block-title{
	color:#555;
}

.page{
	background:#e0e0e0 !important;
}

.panel{
	background:#ffffff !important;
}

.notifications .notification-item{
	background:#333 !important;
}
.button{
	border:0px;
	background:#999;
	color:white;
	height:32px;
}

.list-block .item-inner:after{
	background:transparent;
}

.content-block-inner, #TeamsDetailEditors,#ContactScreenAdmin,#ContactScreen{
	border-top:5px solid #999;
}

.statusbar-overlay {
    background:#000;
}

.content-block-title{
	padding:5px 0px;
}

.contact-name{
	font-size:16px;
}
.contact-email{
	color:#666;
	font-size:14px;
}

.contact-phone{
	color:#666;
	font-size:12px;
}


#SidebarLoggedIn,#SidebarLoggedOut{
	display:none;
}

.list-block{
	margin:0px;
}

.loading{
	text-align:center;
	padding-top:20px;
}

.panel{
	background:#F7F7F8;
	border-left:1px solid #d0d0d0;
}

.jobsdetail-title{
	line-height:20px;
	font-weight:bold;
}

.jobsdetail-dates{
	line-height:20px;
	font-size:0.9em;
}


.table{
	width:100%;
}


tr{
	background:white;
	text-align:center;
	font-size:12px;
}

td:nth-child(1){width:30%;}

td{
	padding:10px 0px;
	width:13%;
	display:inline-block;
}

.ranking-img{
	margin:0 auto;
	overflow:hidden;
	width:30px;
	height:30px;
	border-radius:15px;
}

.ranking-img > img{
	width:47px;
	height:30px;
	margin-left:-9px;
}


.reportpic-img{
	margin:10px auto;
	overflow:hidden;
	width:200px;
	border-radius:10px;
}

.reportpic-img > img,.reportpic-img > a > img{
	width:100%;
}

.profilepic-img{
	margin:10px auto;
	overflow:hidden;
	width:200px;
	border-radius:10px;
}

.profilepic-img > img,.reportpic-img > a > img{
	width:100%;
}

.jobpic-img{
	border-radius:10px;
	margin:0px auto;
	margin-bottom:10px;
	overflow:hidden;
	width:80px;
	height:60px;
	box-shadow:0px 0px 3px #333;
}

.jobpic-img > img,.jobpic-img > a > img{
	width:80px;
	min-height:60px;
}

.contact-image{
	height:32px;
	width:32px;
	border-radius:16px;
	overflow:hidden;
}

.contact-image > img{
	width:32px;
	min-height:32px;
}

.content-image{
	width:100%;
	height:210px;
	background-position:center center;
	background-size:cover;
	background-repeat:no-repeat;
}


.card-header{
	height:220px;
	background-position:center center;
	background-size:cover;
	background-repeat:no-repeat;
	text-shadow:0px 0px 2px #333;
}

.text-center{
	text-align:center;
}

p{
	margin-bottom:0px;
}

.fields{
	background:white;
	width:100%;
	padding:10px 0px;
	text-align:center;
	border:0px;
}

.fields-select{
	height:35px;
	background:white;
	width:100%;
	padding:10px 0px;
	text-align:center;
	border:0px;
}
