			<ul>
				{{#if this}}
					{{#each this}}
						<li class="item-content">
							{{#if file}}
								<div class="item-media"><img class="contact-image" src="{{file}}" /></div>
							{{else}}
								<div class="item-media"><img class="contact-image" src="assets/img/profile_placeholder.png" /></div>
							{{/if}}
							<div class="item-inner">
								<div class="item-title">
									{{#if name}}
										<span class="contact-name">{{name}}</span>
									{{/if}}
									{{#if team_title}}
										<span class="contact-phone" style="color: {{team_color}}">(Equipe: {{team_title}})</span></br>
									{{else}}
										</br>
									{{/if}}
									<span class="contact-email">{{email}}</span></br>
									{{#if phone}}
										<span class="contact-phone">{{phone}}</span>
									{{/if}}
								</div>
							</div>
						</li>
					{{/each}}
				{{/if}}
			</ul>
