				{{#if this}}
					<li>
						<a href="views/Profile.html" id="SidebarBtnProfile" class="close-panel item-link item-content">
						{{#if file}}
							<div class="item-media"><div class="contact-image"><img src="{{file}}" /></div></div>
						{{else}}
							<div class="item-media"><div class="contact-image"><img src="assets/img/profile_placeholder.png" /></div></div>
						{{/if}}
						<div class="item-inner">
							<div class="item-title">
								<span class="contact-phone">Bem vindo,</span></br>
								{{#if name}}
									<span class="contact-name">{{name}}</span></br>
								{{/if}}
								<span class="contact-email">{{email}}</span></br>
							</div>
							<!--<div class="item-after">{{phone}}</div>-->
						</div>
						</a>
					</li>
				{{/if}}
				{{#js_compare "this.team!=0 && this.team"}}
					<li class="bolinha">
						<a href="views/ReportsAdd.html" id="SidebarBtnSendReport" class="close-panel item-link item-content">
							<div class="item-inner">
								<div class="item-title">Enviar um relatório</div>
							</div>
						</a>
					</li>
					<li class="bolinha">
						<a href="views/Reports.html" id="SidebarBtnSendReport" class="close-panel item-link item-content">
							<div class="item-inner">
								<div class="item-title">Listar relatórios</div>
							</div>
						</a>
					</li>
					<li class="bolinha">
						<a href="#" id="SidebarBtnTakeJobPic" class="close-panel item-link item-content">
							<div class="item-inner">
								<div class="item-title">Tirar uma foto</div>
							</div>
						</a>
					</li>
				{{else}}
					<li class="bolinha">
						<a href="views/Profile.html" class="close-panel item-link item-content">
							<div class="item-inner">
								<div class="item-title">Escolher minha equipe</div>
							</div>
						</a>
					</li>
				{{/js_compare}}
					<li class="bolinha">
						<a href="#" id="SidebarBtnLogout" class="close-panel item-link item-content">
							<div class="item-inner">
								<div class="item-title">Sair</div>
							</div>
						</a>
					</li>

