					<!-- Default pull to refresh layer-->
					<div class="pull-to-refresh-layer">
						<div class="preloader"></div>
						<div class="pull-to-refresh-arrow"></div>
					</div>
 					{{#if this}}
						{{#each this}}
							<div class="card demo-card-header-pic">
								{{#if file}}
									<!--<div style="background-image:url({{file}})" onclick="myApp.photoBrowser({photos:['{{file}}']}).open();" valign="bottom" class="card-header color-white no-border"></div>-->
									<div class="card-img" onclick="myApp.photoBrowser({photos:['{{file}}']}).open();">
										<img src="{{file}}" />
									</div>
								{{/if}}
								<div class="card-content">
									<div class="card-content-inner">
										<div class="row">
											<div class="col-15 text-center">
												{{#if user_pic}}
													<div class="card-profilepic"><img src="{{user_pic}}" /></div>
												{{else}}
													<div class="card-profilepic"><img src="assets/img/profile_placeholder.png" /></div>
												{{/if}}
											</div>
											<div class="col-65">
												<a href="views/Profile.html?id={{user}}"><span class="card-name">{{user_name}}</span></br><span class="card-date">{{date}}</span></a>
											</div>
											<div class="col-20 text-center">
												<a href="#" class="link btn-whoa" id="{{@key}}"><span class="card-like">Whoa!</span></br><span class="card-like-number">({{likes}})</span></a>
											</div>
										</div>

									</div>
								</div>
							</div>
						{{/each}}
					{{/if}}

