				{{#js_compare "this.file"}}
					<!--<div style="background-image:url({{file}})" class="content-image"></div>-->
					<div class="card-img" onclick="myApp.photoBrowser({photos:['{{file}}']}).open();">
						<img src="{{file}}" />
					</div>
				{{/js_compare}}
				<div class="content-block-title" >
					<span class="jobsdetail-title">
						ATIVIDADE: {{title}}</br>
					</span>
					<span class="jobsdetail-dates">
						Início: {{start_date}}</br>
						Fim: {{end_date}}
					</span>
				</div>
				{{#if description}}
					<div class="content-block">
						<div class="content-block-inner">
							{{description}}
						</div>
					</div>
				{{/description}}

