			<div class="row no-gutter">
				<div class="col-100">
					{{#if file}}
						<div class="profile-banner-img" style="background-image:url('{{file}}')">
					{{else}}
						<div class="profile-banner-img" style="background-image:url('assets/img/profile_placeholder.png')">
					{{/if}}
						<div class="float-info">
							<div class="row">
								<div class="col-100 see-more-toggle">
									{{#if name}}<h1><!--<i class="fa fa-plus-square" aria-hidden="true"></i>--> {{name}}</h1>{{/if}}
									<h6>
									<span class="silver">{{email}}</span></br>
									{{#if age}}{{age}} anos</br>{{/if}}
									<i class="fa fa-caret-square-o-down" aria-hidden="true"></i>
									</h6>
								</div>

								<div class="col-100 see-more">
									<p><b>Descrição:</b></br><span class="silver">{{#if description}}{{description}}{{else}}Não preenchido{{/if}}</span></p>
								</div>
								<div class="col-50 see-more">
									<p><b>Carreira:</b></br><span class="silver">{{#if carreer}}{{carreer}}{{else}}Não preenchido{{/if}}</span></p>
								</div>
								<div class="col-50 see-more">
									<p><b>Habilidades:</b></br><span class="silver">{{#if skills}}{{skills}}{{else}}Não preenchido{{/if}}</span></p>
								</div>
								<div class="col-100">
									</br>
									{{#if phone}}
										<a class="button button-big" href="tel:{{phone}}">Convocar!</a>
									{{else}}
										<a class="button button-big" disabled href="#">Convocar!</a>
									{{/if}}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="content-block" id="ProfilePicsScreen">
			</div>


