			{{#js_compare "this.ranking.length>0"}}
			<div class="content-block-title">
				Classificação
			</div>
			<div class="table">
				<table class="table">
					<tbody>
					{{#each ranking}}
						{{#if @first}}
							<tr>
								<td style="text-align:center; width:100%; padding:0px; margin:0px; margin-bottom:-6px;">
									<img style="width:100%; margin:0 auto;" src="{{file}}" />
								</td>
							</tr>
							<tr>
								<td style="text-align:left; width:50%; font-size:20px; font-weight:bold; color:{{color}}">
									<i class="fa fa-trophy" aria-hidden="true"></i> {{title}}</br><span style="margin-left:23px; font-size:0.6em;">1º Lugar</span>
								</td>
								<td style="text-align:center; width:40%; font-size:18px; font-weight:bold; color:{{color}}">
									{{value}}</br>pontos
								</td>
							</tr>
						{{else}}
							<tr>
								<td style="text-align:left; width:43%; margin-left:23px;">
									<b>{{title}}</b></br><span style="color:#888;">{{position}}º Lugar</span>
								</td>
								<td style="text-align:center; width:40%;">
									<b>{{value}}</br>pontos</b>
								</td>
							</tr>
						{{/if}}
					{{/each}}
					</tbody>
				</table>
			</div>
			{{/js_compare}}

			<div class="content-block-title">
				Tabela de pontos por tarefa
			</div>
			<div class="table">
				<table class="table">
					<thead>
						<tr>
							<td>Tarefa</td>
							{{#if teams}}
								{{#each teams}}
									<td style="text-align:center; background:{{color}};">
										<div class="ranking-img"><img src="{{file}}" /></div>
									</td>
								{{/each}}
							{{/if}}
						</tr>
					</thead>
					<tbody>
					{{#each points}}
						<tr>
							{{#each this}}
								<td style="text-align:center;">
									{{this}}
								</td>
							{{/each}}
						</tr>
					{{/each}}
					</tbody>
				</table>
			</div>

