		<div class="content-block-title">
			Meus Relatórios
		</div>
		<div class="list-block">
			<ul>
				{{#if resultMyself}}
					{{#each resultMyself}}
						<li>
							<a href="views/ReportsDetail.html?id={{id}}" class="item-link item-content">
								<div class="item-media"></div>
								<div class="item-inner">
									<div class="item-title">{{title}}</div>
									<!--<div class="item-after">{{created}}</div>-->
								</div>
							</a>
						</li>
					{{else}}
						<li>
							<a href="#" class="item-link item-content">
								<div class="item-media"></div>
								<div class="item-inner">
									<div class="item-title">Nenhum relatório enviado</div>
								</div>
							</a>
						</li>
					{{/each}}
				{{/if}}
			</ul>
		</div>
		<div class="content-block-title">
			Relatórios que posso validar
		</div>
		<div class="list-block">
			<ul>
				{{#if resultTeam}}
					{{#each resultTeam}}
						<li>
							<a href="views/ReportsDetail.html?id={{id}}" class="item-link item-content">
								<div class="item-media"></div>
								<div class="item-inner">
									<div class="item-title">{{title}}</div>
									<!--<div class="item-after">{{created}}</div>-->
								</div>
							</a>
						</li>
					{{else}}
						<li>
							<a href="#" class="item-link item-content">
								<div class="item-media"></div>
								<div class="item-inner">
									<div class="item-title">Nenhum relatório enviado</div>
								</div>
							</a>
						</li>
					{{/each}}
				{{/if}}
			</ul>
		</div>

