		{{#js_compare "this.file"}}
		<div class="row">
			<div class="col-100">
				<div class="reportpic-img"><a class="photo" href="#"><img src="{{file}}" onclick="myApp.photoBrowser({photos:['{{file}}']}).open();"  /></a></div>
			</div>
		</div>
		{{/js_compare}}

		<form id="report-detail-form">
			<div class="list-block">
				<ul>
					{{#js_compare "this.can_validate==1"}}
						<!--<li>
							<div class="item-content">
								<div class="item-inner">
									<div class="item-title label">Validado?</div>
									<div class="item-input">
										<select class="form-control" id="input_active">
											<option value="0" {{#js_compare "this.active==0"}}selected{{/js_compare}}>Não</option>
											<option value="1" {{#js_compare "this.active==1"}}selected{{/js_compare}}>Sim</option>
										</select>
									</div>
								</div>
							</div>
						</li>-->
						<input type="hidden" id="input_active" value="{{active}}">
					{{else}}
						<input type="hidden" id="input_active" value="{{active}}">
					{{/js_compare}}
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="item-title label">Pontuação</div>
								<div class="item-input">
									<input type="number" id="input_points" placeholder="Digite a pontuação"  {{#js_compare "this.locked==1"}} disabled {{/js_compare}} value={{points}}>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="item-title label">Atividade</div>
								<div class="item-input">
									<select class="form-control" id="input_job"  {{#js_compare "this.locked==1"}} disabled {{/js_compare}}>
									</select>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="item-title label">Usuário</div>
								<div class="item-input">
									<select class="form-control" id="input_user" {{#js_compare "this.locked==1"}} disabled {{/js_compare}}>
									</select>
								</div>
							</div>
						</div>
					</li>
					<!--<input type="hidden" id="input_description" value="{{description}}">-->
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="item-input">
									Descrição da tarefa
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="item-input">
									<textarea id="input_description" rows="5" style="height:auto;" placeholder="Descreva brevemente a tarefa efetuada">{{description}}</textarea>
								</div>
							</div>
						</div>
					</li>
					{{#js_compare "this.locked!=1"}}
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="item-input">
									<input type="submit" class="button" value="Salvar alteração">
								</div>
							</div>
						</div>
					</li>
					{{/js_compare}}
				</ul>
			</div>
		</form>


